.Home {
    position: relative;
    display: grid;
    grid-template-columns: 18rem auto 20rem;
    gap: 1rem;
}
@media(max-width: 600px), (min-width: 768px) and (max-width: 900px) {
    .Home {
        display: flex;
        flex-direction: column;
    }
    .Home>div:nth-of-type(1) {
        order: 1;
    } 
    .Home>div:nth-of-type(2) {
        order: 3;
    } 
    .Home>div:nth-of-type(3) {
        order: 2;
    } 
}
